## Import Libraries

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Load the dataset

In [3]:
# Flood Estimation for New Zealand
df = pd.read_csv('data/NZ_Flood_Statistics_Henderson_Collins_V2_Layer.csv', sep=",")
df.head()

,X,Y,OBJECTID,Siteno,Name,NZTM_E,NZTM_N,Region,Operator,Funder,...,Data_1000y,se_2_33y,se_5y,se_10y,se_20y,se_50y,se_100y,se_250y,se_500y,se_1000y
0,1615597,6135971,1,802,Selwyn Swamp at Big Flat Rd,1615597,6135971,NRC,NRC,NRC,...,4.695198,7%,8%,9%,9%,10%,11%,12%,12%,12%
1,1624354,6114008,2,1316,Awanui at School Cut,1624354,6114008,NRC,NIWA,MBIE,...,414.991883,5%,5%,6%,7%,8%,8%,9%,9%,10%
2,1624425,6113399,3,1335,Tarawhataroa at Puriri Place,1624425,6113399,NRC,NRC,NRC,...,328.718279,9%,8%,8%,8%,8%,8%,9%,9%,9%
3,1646631,6118068,4,1903,Oruru at Saleyards,1646631,6118068,NRC,NIWA,MBIE,...,157.671477,5%,6%,7%,9%,10%,11%,12%,12%,13%
4,1644928,6113462,5,1909,Peria at Honeymoon Valley,1644928,6113462,NRC,NIWA,MBIE,...,165.499395,13%,16%,19%,21%,24%,26%,27%,29%,30%

In [4]:
df.shape

(634, 41)

In [5]:
df.isnull().sum()

X             0
Y             0
OBJECTID      0
Siteno        0
Name          0
NZTM_E        0
NZTM_N        0
Region        0
Operator      0
Funder        0
Area_km2      0
No_years      0
L1_mean       0
L2            0
Lcv           0
T3_Lskew      0
T4_Lkurt      0
Gumb_u        0
Gumb_alpha    0
GEV_u         0
GEV_alpha     0
GEV_k         0
GEV_z         0
Data_2_33y    0
Data_5y       0
Data_10y      0
Data_20y      0
Data_50y      0
Data_100y     0
Data_250y     0
Data_500y     0
Data_1000y    0
se_2_33y      0
se_5y         0
se_10y        0
se_20y        0
se_50y        0
se_100y       0
se_250y       0
se_500y       0
se_1000y      0
dtype: int64

In [6]:
df = df.dropna(how="any")

In [7]:
df.isnull().sum()

X             0
Y             0
OBJECTID      0
Siteno        0
Name          0
NZTM_E        0
NZTM_N        0
Region        0
Operator      0
Funder        0
Area_km2      0
No_years      0
L1_mean       0
L2            0
Lcv           0
T3_Lskew      0
T4_Lkurt      0
Gumb_u        0
Gumb_alpha    0
GEV_u         0
GEV_alpha     0
GEV_k         0
GEV_z         0
Data_2_33y    0
Data_5y       0
Data_10y      0
Data_20y      0
Data_50y      0
Data_100y     0
Data_250y     0
Data_500y     0
Data_1000y    0
se_2_33y      0
se_5y         0
se_10y        0
se_20y        0
se_50y        0
se_100y       0
se_250y       0
se_500y       0
se_1000y      0
dtype: int64

In [8]:
df.shape

(634, 41)