In [50]:
import numpy as np
import pandas as pd

In [51]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [52]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [53]:
inside

[1, 2, 3, 1, 2, 3]

In [54]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [55]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [56]:
from torch import randn


df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])
df

             A         B
G1 1 -0.292982  0.816566
   2 -0.682308  0.849835
   3 -0.569399  0.577247
G2 1  1.602802  0.353579
   2 -0.176336  2.129965
   3 -0.819120  0.724074

In [57]:
df.loc['G1'].loc[1]

A   -0.292982
B    0.816566
Name: 1, dtype: float32

In [58]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1   -0.292982  0.816566
       2   -0.682308  0.849835
       3   -0.569399  0.577247
G2     1    1.602802  0.353579
       2   -0.176336  2.129965
       3   -0.819120  0.724074

In [59]:
df.loc['G2']

            A         B
Num
1    1.602802  0.353579
2   -0.176336  2.129965
3   -0.819120  0.724074

In [60]:
df.loc['G2'].loc[2]['B']

2.1299648

In [61]:
df.loc['G1'].loc[2]['A']

-0.6823076

In [62]:
df.xs('G1')

            A         B
Num
1   -0.292982  0.816566
2   -0.682308  0.849835
3   -0.569399  0.577247

In [64]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.292982  0.816566
G2      1.602802  0.353579